<section class="footer">
    <div class="logo__container">
        <div>
            <a class="logo__link" href="https://github.com/erickvicentin">
                <img class="logo" src="/img/git-logo.png">
            </a>
        </div>
        <div>
            <a class="logo__link" href="https://www.linkedin.com/in/erickvicentin/">
                <img class="logo" src="/img/lkd-logo.png">
            </a>
        </div>
        <div>
            <a class="logo__link" href="https://www.facebook.com/NitnecivTB">
                <img class="logo" src="/img/fb-logo.png">
            </a>
        </div>
        <div>
            <a class="logo__link" href="mailto:erickvicentin16@gmail.com">
                <img class="logo logo_g" src="/img/gmail-logo.png">
            </a>
        </div>
    </div>
    <p style="clear:both"> Created by {{name}} </p>
</section>