<div class="header">
    <h1 class="title">
        {{title}}
    </h1>
    <div class="buttons__bar">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </div>
</div>