<!DOCTYPE html>

<html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main__container">
        {{>header}}

        <form>
            <input placeholder="Location">
            <button class="btn"> Search </button>
        </form>

        <img src="/img/weather.png" id="weather_img" alt="clima" />
        <h2 id="message-1"></h2>
        <p id="message-2"></p>
        <p id="message-3"></p>
        <p id="message-4"></p>
        <p id="message-5"></p>
        <p id="message-6"></p>
        <p id="message-7"></p>


    </div>
    <script src="/js/app.js"></script>

</body>
<footer>
    {{>footer}}
</footer>

</html>