<!DOCTYPE html>

<html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="button__center">
        <a style="background: rgb(9, 93, 141); color: rgb(255, 255, 255)" href="/">Home Page</a>
    </div>
    <img class="missing__page" src="/img/404-img.png">


</body>
<footer>
    {{>footer}}
</footer>

</html>