h1 {
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  text-align: center;
}

.header {
  width: 100%;
}

img {
  border-radius: 250px;
  display: block;
  margin: auto;
  padding-top: 10px;
  width: 250px;
}

p {
  text-align: center;
}

.buttons__bar {
  border-radius: 0px;
  display: flex;
  justify-content: center;
  padding: 25px;
  text-align: center;
  width: auto;
}

.title {
  color: black;
  border-radius: 10px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  margin-bottom: 5px;
  padding: 5px;
  text-align: center;
  width: fit-content;
}

a {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  border-radius: 1px;
  margin: 5px;
  padding: 10px;
  width: 100px;
  text-align: center;
  border: 1px solid #000;
}

a:link {
  background-color: honeydew;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  background-color: grey;
  border-bottom: 1px solid;
  color: white;
  border: 1px solid rgb(255, 255, 255);
  transition-duration: 0.4s;
}

a:active {
  background: black;
  color: white;
}

.footer {
  background-color: rgb(163, 163, 163);
  bottom: 0;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

.logo {
  float: left;
  height: 40px;
  width: 40px;
}

.logo__link {
  border-radius: 0px;
  border: none;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.logo__container {
  display: flex;
  justify-content: center;
}

.logo_g {
  margin-left: 2px;
}

.missing__page {
  display: block;
  margin: auto;
  padding-top: 10px;
  width: 800px;
}

.button__center {
  display: flex;
  justify-content: center;
}

.justify__text {
  text-align: justify;
  width: 78%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main__container {
  flex-grow: 1;
}

form {
  display: flex;
  justify-content: center;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input {
  width: 28.5%;
}

h2 {
  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#weather_img {
  height: 80px;
  width: 80px;
  border-radius: 5px;
}

.btn {
  transition-duration: 0.4s;
  background: white;
  padding: 10px;
  border: 1px solid black;
  margin-left: 2px;
}

.btn:hover {
  background-color: grey;

  color: white;
}
